/*
justify-items: for columns
align-items: move the items for rows inside of each grid area.

(justify-self or align-self): it's the same. 
in the grid area:

justify-items: start;
========|============================================
        |
        |
        |
        |
====================================================



justify-items: center;
====================================================
                |           |
                |           |
                |           |
                |           |
====================================================

justify-items: end;
=====================================|==============|
                                     |              |
                                     |              |
                                     |              |
                                     |              |
====================================================



*/