/*
Tone down the colors that have a great contrast and it's almost ilegible 
Readility
easy to read 
tone of the project

TYPOGRAFY

Serif: most traditional 

sans serif: modern 

1-2 fonts for progects

use opposite fonts, it's for styling fonts.

leading: it's the space lines of text and other lines of text.

tracking: character spacing




*/